[2021-07-21 13:00] #165 closed

[2021-07-23 19:07] Lykos153 opened #224 "HCLOUD_LOAD_BALANCERS_LOCATION has no effect"
I have `HCLOUD_LOAD_BALANCERS_LOCATION` set to `fsn1` but the controller still refuses to create a load balancer if it's not annotated:
[code]

[2021-07-23 23:27] exocode commented on #221
Sorry for reopening this issue. My problem is not solved,
I struggle now for days, with that task, so maybe you guys can help me out, I guess, it's only a tiny piece of setting/annotation:

From the working http examples above, I thought I can simpy apply the settings to an `Ingress`, but the loadbalancing process only works when I use a `kind: Service` with `type: "LoadBalancer"`, **but not with

[2021-07-29 10:27] toabi opened #225 "Couldn't reconcile node routes: error listing routes"
I have a k3s cluster running on hcloud.

Sometimes when I remove nodes the CCM gets into a weird state where nothing goes on anymore until I manually delete routes from the subnet.

Here I first deleted the one with gateway 10.0.1.34… then it started to hang on the 10.0.1.33… then everything worked again as expected.

[code]

The servers which were those gateways were deleted (to be replaced) just

[2021-07-29 12:35] toabi opened #226 "Incorrect toleration?"
I was wondering why the CCM did not run in my control plane (k3s).

The error message was looking like this (when I drained all the non-control-plane worker nodes):

[code]

Fix was to change https://github.com/hetznercloud/hcloud-cloud-controller-manager/blob/master/deploy/ccm-networks.yaml.tmpl#L50-L52 to this:

[code]

[2021-07-29 19:02] exocode opened #227 "Looking for routing fanout example with type: Ingress not type: Loadbalancer"
Hi there,

I am searching for an `Ingress` fanout example, something like this:

Basically I need this:
[code]

How can I achieve that with hcloud-cloud-controller-manager? What part I am missing?

[code]

1.) Tried to annotate this ingress with that:
2.) also tried this annotations on the ingress controller itself

[code]

**Which config is the right one?
The [docs](https://github.com/hetznerclou

[2021-07-29 21:20] exocode commented on #223
I'm not a K8s master, but this tutorial helped me:

https://community.hetzner.com/tutorials/configure-lb-cert-with-external-domain

[2021-07-30 08:43] mysticaltech commented on #115
@kiwinesian Created a project for this https://github.com/mysticaltech/kube-hetzner, all works well, including full kube-proxy replacement. However, even though everything was setup with cilium for native routing, I had to use `tunnel: geneve` see https://github.com/mysticaltech/kube-hetzner/blob/master/manifests/helm/cilium/values.yaml, to make everything really stable, somehow, pure native routi

[2021-08-03 15:25] Nilegfx opened #228 "reusing the same loadbalancer"
Hi there,
Thanks for this great component which makes our live easier.

I am using the following:
- [rke](https://rancher.com/docs/rke/latest/en/) cluster on hetzner cloud VMs (CX11)
- Cloudflare for DNS management
- [external-dns](https://github.com/kubernetes-sigs/external-dns) to dynamically create DNS record on cloudflare once an ingress is created
- [skipper](https://github.com/zalando/skippe

[2021-08-04 10:42] alrf opened #229 "SSL, hcloud-cloud-controller-manager pod dies"
I'm using bitnami nginx helm chart: https://github.com/bitnami/charts/tree/master/bitnami/nginx with these settings in yaml:

[code]

In this case Hetzner LB can't be issued (`kubectl get svc` shows it in "pending" state) and `hcloud-cloud-controller-manager` pod dies with errors:
[code]

[2021-08-04 14:57] alrf opened #230 "original client IP"
I have Nginx deployed in my cluster and Service annotations are:
[code]

In nginx logs I see only k8s worker node IPs (and depends on `load-balancer.hetzner.cloud/disable-private-ingress` and `load-balancer.hetzner.cloud/use-private-ip` settings - public or private worker IPs).
How to change the configuration to see the original client IP? (`X-Forwarded-For` / `Real‑IP`)

[2021-08-05 09:39] alrf commented on #229
Wrong annotations, "IDs or Names":
[code]
https://pkg.go.dev/github.com/hetznercloud/hcloud-cloud-controller-manager/internal/annotation

the same here:
https://github.com/hetznercloud/hcloud-cloud-controller-manager/blob/b54847b9163a3fc39dd902ab2f5f0494003b7230/internal/annotation/load_balancer.go#L115-L119

In fact, it works only with IDs and fails with name..

Workable example:
[code]

[2021-08-05 09:47] alrf commented on #230
Solved. The important parts of my nginx yaml:
[code]

[2021-08-05 09:47] #230 closed

[2021-08-05 11:57] guyguy333 opened #231 "Missing route cleaning with autoscaler on scale down ?"
Initial report: https://github.com/kubernetes/autoscaler/issues/4049

**Which component are you using?**: Autoscaler with Hetzner as cloud provider

**What version of the component are you using?**: Only available on master, no Docker image include Hetzner yet.

Component version: 1.21

**What k8s version are you using (`kubectl version`)?**: 1.21.0 with k3s

<details><summary><code>kubectl versio

[2021-08-06 15:12] LKaemmerling commented on #206
Closing this because of no activity.

[2021-08-06 15:12] #206 closed

[2021-08-06 15:13] LKaemmerling commented on #202
Removing the staleness,we still want and need to improve this.

[2021-08-06 15:17] LKaemmerling commented on #231
Hey @guyguy333 can you please provide logs from the cloud controller (and auto scaler)?

[2021-08-06 19:40] kiwinesian commented on #115
ohh thanks for sharing @mysticaltech ! I might find a weekend to spin the cluster up using your configuration ;)

I just managed to get the k8s cluster going, but there are a few things that I would like to validate with you and see if it makes sense/ ideal:
1. Can't use Cilium ipam `Native-Routing`. Instead, I have to set `ipam=kubernetes`
2. Also had the same problem with `tunnel=disabled` and s

[2021-08-13 07:47] guyguy333 commented on #231
Hey @LKaemmerling, sure here are the logs:

[ccm.log](https://github.com/hetznercloud/hcloud-cloud-controller-manager/files/6980746/ccm.log)

[autoscaler.log](https://github.com/hetznercloud/hcloud-cloud-controller-manager/files/6980747/autoscaler.log)

The issue happened this morning so I limited logs to this morning only but we can see route errors.

Please let me know if you need more details.

[2021-08-13 13:31] T-helper commented on #228
load-balancer.hetzner.cloud/location: <your LB location>
load-balancer.hetzner.cloud/name: <your LB name from control panel>
these annotations on LB resource in k8s using existing load balancer, wich i created right in my hetzner control pane are working fine, does it capable for you ?

[2021-08-14 11:49] dcardellino opened #232 "Use load-balancer for multiple services"
Hello together,

i use hcloud-ccm for my k8s deployment. I recently have deployed nginx-ingress controller with the following annotations:

[code]

So a load-balancer gets created in hetzner cloud console.  When i use this to expose websites on port 80/443, this works perfectly.

I want to re-use this load-balancer to also expose an openldap deployment on port 389.
I read some issues here to use t

[2021-08-17 10:45] randrusiak commented on #113
Any updates here? @LKaemmerling are you going to implement support for root server soon?

[2021-08-21 20:23] mstarostik opened #233 "Global default for IPv6 on LBs"
Hello,

as mentioned in the pkg docs, the annotation `load-balancer.hetzner.cloud/ipv6-disabled` can be used to remove the IPv6 address from a LoadBalancer service and as hinted there, it's pretty much required when running external-dns.
Would be nice to have an ENV var to disable the v6 address by default, similar to how `HCLOUD_LOAD_BALANCERS_DISABLE_PRIVATE_INGRESS`, gets rid of the private IP.

[2021-08-24 10:03] LKaemmerling commented on #231
Hey @guyguy333,

i had time to dig in your logs and i think i found the reason. Our cache basically produces the issues. I will look if i can find a solution.

[2021-08-24 10:54] guyguy333 commented on #231
Great, thanks @LKaemmerling for taking time to dig in logs

[2021-08-24 13:42] fynluk commented on #233
Hey Malte, hey community,

I submitted an approach to fix this 'problem'.
In my opinion there should be the possibility to enable or disable ipv6.
Please have a look at the pr and give me feedback

[2021-08-25 06:07] LKaemmerling commented on #231
Hey @guyguy333,

we found a solution. The fix will be included in the next release.

[2021-08-25 06:32] #225 closed

[2021-08-25 06:32] #231 closed

[2021-08-25 06:55] LKaemmerling commented on #233
Hey @mstarostik,

your MR was merged, so this will be available with the next release version (or already with the latest master/dev version).

[2021-08-25 06:55] #233 closed

[2021-08-25 06:57] LKaemmerling commented on #214
Hey @brpaz,

are your nodes already connected to the network? As a hint, we use the following cilium config within our tests: https://github.com/hetznercloud/hcloud-cloud-controller-manager/blob/master/e2etests/templates/cilium.yml

[2021-08-25 06:58] LKaemmerling commented on #174
I will close the issue here, as the Cloud Controller Manager is not in charge of "selecting" the nodes.  @Shadowghost already posted the k8s solution to exclude the nodes: https://github.com/hetznercloud/hcloud-cloud-controller-manager/issues/182#issuecomment-830577642

[2021-08-25 06:58] #174 closed

[2021-08-30 12:57] #214 closed

[2021-08-31 04:19] mysticaltech commented on #115
I guess you now know the answer @kiwinesian, but for others reading this, yes using `tunnel=geneve` does work pretty well.

[2021-08-31 06:39] philipp1992 commented on #115
could someone explain, what would be the advantage of using hcloud native routing? thanks

[2021-09-01 17:37] kiwinesian commented on #115
ha, not quite sure what the actual advantage is @philipp1992
I always wonder myself if we are missing some benefits with not have `native-routing`

[2021-09-01 19:08] ByteAlex commented on #115
@philipp1992 @kiwinesian
Native routing saves one layer of tunneling.
You should probably know why that is an advantage.

[2021-09-03 06:22] LKaemmerling commented on #232
Hey @dcardellino,

you can only use one k8s service (with multiple ports) per Load Balancer. The Cloud Controller Manager always tries to reach the state defined in the specific service and deletes everything else.

[2021-09-03 06:22] #232 closed

[2021-09-03 06:27] LKaemmerling commented on #229
Hey @alrf,

which Cloud Controler Manager version do you use? IIRC we fixed this with one of the last two releases.

[2021-09-03 12:31] mysticaltech opened #241 "Support XDP Acceleration with Cilium"
Hey folks, in [Kube-Hetzner](https://github.com/mysticaltech/kube-hetzner/), I was able to achieve full support for Cilium native routing, with BPF and full Kube-proxy replacement. However, Cilium's XDP acceleration does not seem to be supported on your instances as the whole cluster crashes.

Probably because the network instances are not compatible, I tried with cx11 and cx21, and the interface

[2021-09-05 09:55] filippoboscoUniTn opened #242 "Hcloud Cloud Controller Manager w/ Network Support : Error from server : dial tcp no route to host"
Greetings, I'm having troubles configuring the Hetzner's Cloud Controller Manager with Network support on a highly available kubernetes cluster. The problem presents itself sporadically when I try to execute kubectl commands. For instance, executing :

`kubectl -n kube-system logs hcloud-cloud-controller-manager-784bfbb6c6-7cvvn`

will, sometimes, return the following error :

`Error from server:

[2021-09-05 11:01] filippoboscoUniTn commented on #242
nginx ingress controller loadbalancer's targets were unheathy as no pod was scheduled on the node. As soon as pods are scheduled the target becomes heathy, my bad.

[2021-09-06 11:46] hendrikkiedrowski commented on #113
@Donatas-L I tried it. It works great with some tidbits. It would need a bit of attention from the community to keep track with the development of the Hetzner Team @LKaemmerling you may also want to have a look here. Maybe you can take this idea ;)

[2021-09-08 09:13] #242 closed

[2021-09-15 12:57] #220 closed

[2021-09-17 08:28] toabi opened #245 "When in-place upgrading a node, instance-type label doesn't get updated"
I have a k3s cluster, and just rebooted an agent after instance upgrade (cx21 to cx31).

It doesn't look like the `beta.kubernetes.io/instance-type` node label gets updated.

[2021-09-20 12:59] #222 closed

[2021-09-22 16:14] kervel opened #247 "loadbalancer for nginx adds only one target on a two-node cluster"
Hello,

i tried to follow the kubeadm tutorial for hetzner cloud (i create 1 master and 1 worker, and i remove the taint from the master so it can also run normal workloads). After this, i installed the nginx ingress controller using https://raw.githubusercontent.com/kubernetes/ingress-nginx/controller-v1.0.0/deploy/static/provider/cloud/deploy.yaml

this deploys nginx ingress controller as a depl

[2021-09-23 08:15] vaisov commented on #214
I tried various settings for Cilium, but I still get the same error. Last config I've tried:
[code]

[2021-09-24 06:30] vaisov commented on #214
Is this issue tracked or should I create new one?

[2021-09-24 07:09] vaisov opened #248 "hcloud/CreateRoute: invalid gateway (invalid_in put)"
Using Cilium with wireguard enabled encryption doesn't work with hcloud cloud controller. I'm getting error:

[code]

Cilium config I'm using:
[code]

[2021-09-27 12:58] #224 closed

[2021-09-28 10:59] chwzr commented on #227
add the `load-balancer.hetzner.cloud/...` annotations to you ingress-nginx-controller instead. These annotations are for Services of type "LoadBalancer" not for your Ingress definiton. Don't confuse IngressController with Ingress ;)

[2021-09-28 11:07] chwzr commented on #198
Facing the same issue here.

Adding the Annotation `load-balancer.hetzner.cloud/protocol` will affect all ports of an Service Definition.
I think Annotations are the wrong "tool" here. Maybe hetzner-cloud-controller-manager should parse the protocol of every port from the service definiton instead.

Looking at the standard ingress-nginx service description here:
[code]

`spec.ports.appProtocol` se

[2021-09-28 11:21] chwzr commented on #223
You need the annotation `load-balancer.hetzner.cloud/http-certificates` to be set with the name of the certificate in cloud console. (if you created the certificate manual). Or setting `load-balancer.hetzner.cloud/http-managed-certificate-name` with same value will automaticly create the cert under the name.

E.g. let hetzner-cloud-controller-manager auto create the cert "ndx-100days-cloud-tls" un

[2021-09-30 12:57] #221 closed

[2021-10-03 12:54] #226 closed

[2021-10-08 10:37] Giom-fm commented on #173
I am facing the same problem. Although I already use ingress-nginx the loadbalancer just doesn't want to take the correct targetPort. I can successfully curl the nodes the ingress-controller is running on but the loadbalancer shows me an unhealthy status. However, as soon as I manually (hetzner cloud gui) change the wrong ports on the loadbalancer, everything works as it should.

Can you explain h

[2021-10-12 09:48] ol-iver opened #249 "hcloud-controller-manager deletes foreign Loadbalancer services and targets"
Dear maintainers,

apparently deletes services and target from LoadBalancer which are created manually (or by other functions) during reconciliation.
That's a bit unfortunate because you cannot use the Loadbalancer for anything else than Kubernetes services.

I would expect that controller-manager labels services and targets under its control and performs change/delete operations on those objects

[2021-10-14 20:02] ol-iver commented on #249
Additionally it could delete all target, even if all nodes are existing and online which is kind of a worst case scenario because the cluster completely unreachable from that moment.

[code]

The reduction of nodes from 2-3 at `I1012 18:25:49.154096` was started by me when I scaled down the server.
In the following time I created the services on port 6443 several times again. They have been delete

[2021-10-21 09:49] rpahli opened #252 "Question: UDP load balancer support"
Hello Hetzner Team,

we use hetzner for our k8s Cluster(s). But we also need support for UDP traffic Load Balancing.

Is there any plan to support UDP Load Balancers?
Or is there any workarround to loadbalance UDP traffic over multible k8s nodes?

[2021-10-28 09:26] mabebrahimi opened #253 "Question: how do i install nginx ingress controller on my cluster"
I installed the hcloud-cloud-controller-manager with [this](https://github.com/hetznercloud/hcloud-cloud-controller-manager/releases/latest/download/ccm-networks.yaml) file. and LoadBalancer service type works correctly.
Now how do I install the Hetzner compatible ingress controller?

[2021-11-03 15:16] lachnerd opened #254 "external dns stopped working upgrade from 1.8.1 to 1.12.0"
i recently upgraded my setup from ccm 1.8.1 to 1.12.0 using external dns on traefik service.

With 1.8.1

i used this annotations in traefik values.yaml wich worked fine for me
[code]

Then i switched to 1.12.0 and realized my DNS entries weren't set at all.
[code]

So i added :
[code]

[2021-11-05 13:33] tpo opened #256 "*much* clearer and easier to use documentation"
Dear Hetzners,

please, please provide better docu. I've been a Linux admin for 20 years and a K8s admin for 3 but I am *unable* to understand and apply your [deployment](https://github.com/hetznercloud/hcloud-cloud-controller-manager#deployment) instructions to a vanilla [microk8s](http://microk8s.io/) setup (running out of the box [Calico](http://www.projectcalico.org/)). Your jargon kills me. T

[2021-11-08 08:06] lachnerd commented on #254
As far as i can tell the last ccm that worked with external-dns was 1.8.1.
Every other version fails to update any DNS Entries. I tried them all including several other annotations - nothing worked.

Is there any documentation or best practice example ?

[2021-11-08 12:50] lachnerd commented on #254
another point:
i just realized that "hcloud-cloud-controller-manager/v1.12.1/deploy/ccm-networks.yaml" still uses "image: hetznercloud/hcloud-cloud-controller-manager:v1.9.1" - i suppose that is wrong / a typo ?

[2021-11-08 13:00] #229 closed

[2021-11-10 13:01] #113 closed

[2021-11-10 14:14] lachnerd commented on #118
i have the same problem as mentioned here.
- external-dns creates nothing
- external-dns creates TXT Entries only
- external-dns creates A Entry but with internal IP Adress

i tried :
load-balancer.hetzner.cloud/disable-private-ingress: true
external-dns.alpha.kubernetes.io/access: public

and all other settings in combination an can't get it to work

[2021-11-12 09:39] lachnerd commented on #254
ok after switching back to v1.20.0+k3s2 also 1.12.1 is working again (but i am still getting the private  ip adress instead of the public one set in dns, but thats another issue).

[2021-11-14 15:15] stevek-pro commented on #212
Could someone provide an example how to achieve this with nginx-ingress? Where to set health check ports (service or ingress?), where tibset annotation (service or ingress?) and how to serve multiple services with this.

[2021-11-14 22:00] stevek-pro commented on #256
I would like to help. Everything is quite shit as it is of now, radial candor sorry.

[2021-11-15 12:25] fmendez89 commented on #252
Hi @rpahli, did you manage to get udp working?

[2021-11-15 12:47] rpahli commented on #252
Currently it works only with NodePort. So you can use nodePort with an internal LB service like Haproxy. This is not the best solution but I think currently the only working solution.

[2021-11-15 13:01] stevek-pro commented on #232
You need to load balance with an ingress-controller, from any vendor. I am working on this but failling. I will open a seperate issue on this. If a Hetzner member could provide a working setup for ingress-nginx namespaced controller.

[2021-11-15 13:23] talex-de commented on #232
You can use Traefik as Ingress Controller.

For a working example see my public Git repo from Meetups here:

[2021-11-15 14:11] stevek-pro opened #257 "Can't get Hetzner LBs to run with ingress-nginx LB"
Configuring `ingress-nginx controller` with Hetzner LB has been quite the trouble until now. I will describe my setup below the error I am currently facing.

### Error Message at sub.mainhost.de:

[code]

The **Hetzner Wildcard Certificate** is correctly terminated, I see the lock and inspecting the cert shows `*.mainhost.de`.

I experimented with all ports and combinations tcp, https, http, redir

[2021-11-15 14:18] talex-de commented on #257
[code]

You have to take care yourself for the managed certs being created by HCloud LB. I experienced that I have to drop these certs manually by using the Cloud CLI tool. I handle this using Ansible to reinstall or redeploy my Traefik ingress ctrl.

Also, this error tells you that the resource limit has been reached.

Did you check in Hetzner Cloud UI _Project > Security > Certificates_ and what

[2021-11-15 14:20] talex-de commented on #257
hmm, you try to use an existing cert? @stevek-pro

[2021-11-15 14:29] stevek-pro commented on #257
Hi @talex-de Thanks for the tip with the CLI. I didn't try that yet.

Yes, I'm trying to use existing cert.

The Kube notifications got preceeded by the latest one, no?

`Normal   EnsuringLoadBalancer    54m (x14 over 65m)  service-controller Ensuring load balancer`

So you are saying your setup works for you with one LB for entire domain and subdomains? Care to share your (Traefik) configuration

[2021-11-15 14:47] stevek-pro commented on #253
I used the one from the official documentation (see github page) from ingress-nginx. Installation worked flawlessly after appling the annotations geom Hetzner.

It also provisions itself an LB and certs, but for me I cant get my webservice to be routed through to yet.

If you get routing and termination please feel free to share your Setup and Code.

[2021-11-15 15:01] stevek-pro commented on #227
@chwzr Hi could you kindly provide us with a working configuration (controller, ingress, service) and with or without auto-TLS provisioning etc. Nothing for me works so far.

[2021-11-15 16:10] stevek-pro opened #258 "hcops/CertificateOps.GetCertificateByLabel: not found"
I am getting the error:

`hcops/CertificateOps.GetCertificateByLabel: not found`

In this test I use the `load-balancer.hetzner.cloud` annotations directly on a (web) service (**not** an nginx LB ingress service).

When I look at the certificate in Hetzner GUI and click edit Labels, I see the labels `hcloud-ccm/service-uid:7e46e35f...`, and I reference these labels like this in the service's annot

[2021-11-15 23:02] stevek-pro commented on #257
I am also getting in service events:

[code]

I declare in service as follows:

`load-balancer.hetzner.cloud/http-managed-certificate-name: "hcloud-ccm/service-uid: 4ad55eab-ca24-4c2c-8aac-257b05f01921"`

LB is correclty configures, but health check is bad. Are there docs on this?

[2021-11-16 18:25] acjohnson commented on #113
I also am interested in using bare-metal works via vSwitch and have it working with calico CNI. Any chance this could become mainlined in the hcloud-cloud-controller-manager?

[2021-11-16 20:53] stevek-pro commented on #113
If we want to push the european cloud we need to push awesome Hetzner to push itself to grow above itself. This way many open source cloud projects and startups with GDPR and DSGVO compliant ISMS' will able to get founded in Europe. tl;dr yea I'm interested, too.

[2021-11-17 01:43] acjohnson commented on #113
I went ahead and rebased the work that @malikkirchner did against `master` and built a new image with a few fixes that seemed to be required to use Hetzner Robot servers via vSwitch

`src:` https://github.com/acjohnson/hcloud-cloud-controller-manager/tree/root-server-support
`image:` https://hub.docker.com/r/acjohnson/hcloud-cloud-controller-manager

This seems to work next to perfectly with only

[2021-11-17 08:50] mway-niels commented on #147
I had the same issue. For me the solution was to provide the `HCLOUD_NETWORK` environment variable.

[2021-11-17 14:15] Giom-fm opened #259 "Loadbalancer ignores targetPort"
I've been trying to get the loadbalancer to work for days. The main problem is that the loadbalancer ignores "targetPort".

Here is my setup:

The echo-deployment.yml:
[code]
The echo-service.yml:
[code]
The ingress.yml:
[code]
Loadbalancer.yml:
[code]
Basically, everything works. The ingress-controller runs on both nodes and listens on port 80 and 443 and I can curl the echo-service from any node

[2021-11-17 21:42] stevek-pro commented on #259
A few things: First of all when you use Type LoadBalancer at your service, your Ingress Controller and your Ingress Object are getting ignored. You need to understand the difference between Ingress Controller and Ingress Objects (like the one you posted)

Secondly, nobody needs to know about `targetPort` except your service. This is the port opened on your container. Your service has the duty to r

[2021-11-18 10:40] Giom-fm commented on #259
Hey thanks for your answer.

I don't think that is so correct. There are a lot of examples on the internet where the loadbalancer doesn't ignores the ingress-controller.

What I am trying to achieve is that on all my nodes an ingress-controller is running which is already working.
Since I have several nodes that are also running on a private network from Hetzner, I switch a LB in front of it to di

[2021-11-18 23:05] acjohnson commented on #113
/reopen

[2021-11-18 23:07] acjohnson commented on #113
@LKaemmerling would you consider reopening this issue as there is a fair bit of support for this feature and quite a bit of hacking that has gone into it already

[2021-11-19 02:42] fmendez89 commented on #252
Hi @rpahli,
we ended up using nginx as a LB with a floating IP, not the best solution IMO too. So... waiting for the UDP support from Hetzner.
Thanks for the tip.

[2021-11-19 13:55] zzorica commented on #257
I think the issue is in the protocol between LB -> k8s-ingress-controller. If using TLS termination on hetzner LB for the backend it should be http for frontend 443 service, as port 80 is auto-redirecting to 443 so that service doesnt talk to k8s-ingress anyway.

Similar issue here I believe https://github.com/hetznercloud/hcloud-cloud-controller-manager/issues/198

[2021-11-19 16:29] stevek-pro commented on #257
Punctuation would help me understand what you wrote @zzorica. Anyway, do we ahve a fully working example somewhere, what annotations we need, what config on the ingress controller and what config on the services and ingresses we need?

[2021-11-20 18:52] zzorica commented on #257
@stevek-pro sry on that...to me sentences seems just fine :smile: Anyhow I have it working but withous SSL offloading on Hetzner LB

Setup running on:
* k8s 1.21.6
* ingress-nginx (helm chart 4.0.8)
* cert-manager (helm chart 1.6.1)

ingress-nginx
[code]

grafana (used for test, all other values in a chart are at default)
[code]

I added couple of more ingresses and all good. But as mentioned here

[2021-11-24 16:53] Giom-fm commented on #259
Ok I think I have misunderstood something here.
I thought when you create a service with the type loadbalancer only outside the cluster magic happens.But it seems that the ominous nodeport set by the loadbalancer and opened by all my nodes acts as an entry point into my cluster. That means I don't have to manually point to the port of my ingress controller at all. Furthermore I assume that the tra

[2021-11-24 18:12] Giom-fm commented on #253
@stevek-pro
Could you be a little more specific?
I just can't get the loadbanalcer to work in conjunction with nginx.

[2021-11-24 18:35] #259 closed

[2021-12-01 16:31] Tranquility commented on #218
I just ran into this. Is it planned? Should this issue get reopened?

[2021-12-02 12:56] #223 closed

[2021-12-02 12:56] #198 closed

[2021-12-02 23:23] Giom-fm commented on #198
This feature would be great.
Does anybody has an workaround for this?

[2021-12-04 07:58] exocode commented on #227
This one works for me.
What you also need if you wanna use TLS is a Issuer or Clusterissuer and a Certificate. I work with cert-manager and Cloudflare. That is my setup:

[code]

[code]

[code]

[code]

[2021-12-04 07:58] #227 closed

[2021-12-06 15:39] ByteAlex opened #262 "HCloud Autoscaler"
Hi!

This issue is a **Feature Request**.

# Feature Description
The hcloud ccm should be able to detect the cluster's current capacity and compare it with the given requests/limits.
Based of a configured threshold in either % or absolute values cpu/memory of free capacity compared to either requests or limits (should be configureable too, I suppose), it creates a new VPS and joins it to the clust

[2021-12-06 15:47] ByteAlex commented on #262
Ignore this, I've been looking thru code, but didn't find this, but just a few minutes later I fell across kubernetes/autoscaler, which covers HCloud.

[2021-12-06 15:47] #262 closed

[2021-12-10 16:34] druppy opened #263 "Certificate, LB TLS termination and Ingress"
Hi ...

We have tried to make hcloud LB, using TLS termination and hcloud managed certificates, but with little luck.

We have the following ingress annotations :

[code]
We have an existing cert called "moch" but it can't find this, and it seems to create its own.

The `http-managed-certificate-domains` dislike spaces :-)

It complains about a few things, like

`Error syncing load balancer: faile

[2021-12-11 02:22] stevek-pro commented on #263
I can confirm this, that it creates certs on its own and ignores names. I provide certs in LB manually therefore until this is fixed or clarified where we go wrong. Also one of my LBs autmatically gets created withit my consent, but must be some old resource provisioning it. I switched of Ingress and using Service and NodePort now. Good luck!

[2021-12-12 16:46] kev-ac opened #264 "Newly created servers won't boot after initial creation"
I've noticed a strange bug in relation to the creation of new nodes / servers.
In some cases (maybe 1 in 10) a newly created server is not booting which prevents the cluster autoscaler to work properly.

I can see the _"server.create"_ action logged in the Cloud Console as well as the created, but turned off server in the list.

I noticed this behavior in Kubernetes version 1.21.7 but it also pers

[2021-12-13 08:02] fhofherr commented on #264
Hi @kev-ac,

just to be sure: the server itself is not accessible at all, even outside of K8S for example via SSH or the console in our web interface?

In this case this sounds more like an issue with the infra structure and I would recommend opening a support ticket for your account.

[2021-12-13 08:08] MatthiasLohr opened #265 "add environment variable for default load balancer type"
Hi,

it would be great if additionally to the existing default settings for load balancers also the type could be set by default, avoiding to add the `load-balancer.hetzner.cloud/type` annotation to each load balancer service.

Best regards
Matthias

[2021-12-13 08:13] crstin commented on #265
`load-balancer.hetzner.cloud/location` would also be very welcome or why not being able to set defaults for everything?

[2021-12-13 08:20] MatthiasLohr commented on #265
There is an environment variable `HCLOUD_LOAD_BALANCERS_LOCATION`, are you searching for that? However, there is no equivalent for `load-balancer.hetzner.cloud/type`.

[2021-12-13 08:31] crstin commented on #265
Just would like to to be able to set a default for the location without messing with the annotations. Why not make all config options available in such a way? There's gotta be a way.

[2021-12-13 08:40] druppy commented on #263
Ok, thanks ... I will try to use it as a pure level 3 LB, and let ingress take over cert management.

I really hoped to get some kind of status from Hetzner in regard to LB, as this is the last element vi need for a successful setup (we have a k8s 1.22 with autoscale and cilium cni, and this is the last part missing).

[2021-12-13 10:02] LKaemmerling commented on #263
Hey @druppy & @stevek-pro,

when you set those annotations:
[code]
The CCM tries to create this certificate. If you want to reference an already existing certificate you need to use:

[code]
https://github.com/hetznercloud/hcloud-cloud-controller-manager/blob/master/internal/annotation/load_balancer.go#L119

[2021-12-13 10:09] kev-ac commented on #264
Hi @fhofherr,

this is something I haven't checked. What I can tell you is that the servers state is "turned off" in the web interface, even after 10-15 minutes and after several reloads of the page.
Also the server won't come up in the K8S cluster so no communication seems to happen.

I can check connectivity via ICMP / SSH or the web console when I stumble across this phenomenon again.
But I wil

[2021-12-13 11:15] druppy commented on #263
@LKaemmerling thanks for you input, this would be nice if this worked, I dont mind defining a named certificate by hand, as this is a one time action :-)

I added a certificate called "moch" in hcloud and these annotations on ingress

[code]
But the ingress server is not happy, as it complains :

[code]

I tried to find the `LoadBalancerOps.ReconcileHCLBServices` in the CCM code, without luck so I

[2021-12-13 11:21] LKaemmerling commented on #263
Hey @druppy,

you need to define the type to https in this case, then all services that this "k8s service" refer too will use this certificate. It is not possible to mix services type http/s & TCP in one Load Balancer with the CCM.

In you case: I would suggest doing the TLS offloading not on the Load Balancer Or split you HTTPS & TCP workloads over multiple Load Balancers.

And the function you r

[2021-12-13 11:35] druppy commented on #263
@LKaemmerling thanks, this was valuable, now I know what to work on.

I will let ingress handle the TLS termination, and use LB as a pure tcp service.

So LB / CCM status is

* 100 % managed certs does not work at the moment
* manual certificates either uploaded or in hcloud created works, if every service on ingress is https
* mixing https other services using the same LB are only possible if we

[2021-12-13 15:55] druppy commented on #257
@zzorica this looks really nice, but how did you setup lets encrypt ?

It seems to me that we need the `dns01` resolve, but I have no idea as to how to make that work in Hetzner DNS.

My issuer setup looks like this

[code]

I get a nice key in my `letsencrypt-prod`, but no certs as there is no way it can verify any challenge.

It seems like you solved this, would you like to share how your issuer

[2021-12-14 13:56] kev-ac commented on #264
The support was able to find the reason for this problem.
The server could not be connected to the private network on start. This results in the server being unable to start.
It is a known issue and they are working on improving the situation.

A workaround would be to create the server without a private network and attach it afterwards.
Is that something we could handle in the CCM until the Hclou

[2021-12-16 22:01] philipp1992 opened #266 "Please update deploy manifests to current image version"
Hi,
the manifests in the deploy folder use outdated image versions.
Could you update them when you release a new version, so they can be used for gitops processes?

thanks and kind regards
Philipp

[2021-12-17 04:31] LKaemmerling commented on #266
Hey @philipp1992,

this is intended. Please use the generated files from Github Releases.
https://github.com/hetznercloud/hcloud-cloud-controller-manager/releases/latest

Thank you!

[2021-12-17 04:31] #266 closed

[2021-12-18 19:48] zzorica commented on #257
@druppy must admit I cheated here :blush: I tried dns01 resolver with hetzner but couldn't make it work on first try. So to save some time I just switched to using digitalocean dns for this one
[code]

[2021-12-22 17:44] sitilge opened #267 "Error Message: missing prefix hcloud:// even with --cloud-provider=external"
I'm building a new cluster from scratch using Cilium as the CNI plugin and Traefik as the ingress controller. At first, when I deployed the hcloud CCM, I was getting the same errors as I am getting now. I rebuilt the whole cluster from scratch with the instructions from the docs. The difference now is that I have the extra drop-in config passed to the systemd service, as described in docs, but it

[2021-12-23 08:40] LKaemmerling commented on #267
Hey @sitilge,

the kubelet args need to be specified on every server in your cluster so masters & workers. Please make sure that is the case.

[2021-12-23 09:32] sitamoni opened #268 "Nodes by default are tainted"
I am new in k8s and have issue with Taints, i am trying to untaint the nodes with
`kubectl taint node worker-1 node.cloudprovider.kubernetes.io/uninitialized=false:NoSchedule-`
when kubespray provisions my cluster with ansible-playbook. Is there any way to get the cluster nodes already untainted after creating it from hcloud-controller-manager cause it is default, i mean of courde editing a config

[2021-12-23 09:42] LKaemmerling commented on #268
Hey @sitamoni,

normally the Cloud Controller Manager is in charge of untainting them. When they have a taint this is normally an indication that the CCM can not process them, so please have a look at the CCM logs, maybe you find something there.

Please make sure:
- The Names of your k8s nodes should be the names of the servers in our cloud console
- The API Token you pass to the CCM needs to hav

[2021-12-23 09:50] sitilge commented on #267
@LKaemmerling ok, thanks. I think this should be updated in the docs as well - otherwise I think it is confusing as mostly everything is circling around the master plane.

[2021-12-24 10:17] mohamedaminearous opened #269 "External IP do not match ip address set with --node-external-ip flag"
**Environmental Info:**
K3s Version:
[code]

Node(s) CPU architecture, OS, and Version:
[code]

Cluster Configuration:
signle node (one server)

**Describe the bug:**
I'm installing k3s on hetzner server with a private ip, default public and a floating ip.
This floating ip is public and its traffic is routed onto the public ip and they share the same network interface:
[code]
When I install k3s wi

[2022-01-02 12:57] #241 closed

[2022-01-03 09:52] druppy commented on #257
Ok, thanks @zzorica, I also found [this](https://github.com/vadimkim/cert-manager-webhook-hetzner) but I was not able to make it work :-(

[2022-01-03 12:09] sitamoni commented on #268
Thanks for help it worked. The name in the cloud console should have been set same as ones of created with terraform in k8s.

[2022-01-03 12:09] #268 closed

[2022-01-03 12:09] sitamoni commented on #268
Thanks for help it worked

[2022-01-03 15:16] sitamoni opened #270 "Hetzner LB targets still unhealthy"
Hi Admins.
I have an issue with setting up LB in kubernetes. The hetzner-cloud-controller-manager is done and till kubectl ccm.yaml.
I created ingress-nginx and the pods are running successfully with "kubectl get pods -n kube-system".
The services are:
[code]
All the master and nodes are connected via terraform created network except LB. But i still dont know why the services are unhealthy check.

[2022-01-04 01:06] DrZoidberg09 opened #271 "Two different load balancer protocols"
Hi,

I successfully use the cloud controller to access the load balancer to create an https service with tls termination. Now I have other services that require tcp connection. Is there a good way to access the load balancer to have different services with different protocols?

I use the server protocal annotation to create the https service. When I create a second load balancer service with the t

[2022-01-05 08:36] fhofherr commented on #264
Sorry, for getting back to you so late. How do you create the servers before adding them to the cluster? I believe the safest bet would be to modify the way you create the servers to split up creation and network attaching.

The cloud-controller itself does not create servers. Also it does not seem like the [Instances](https://pkg.go.dev/k8s.io/cloud-provider#Instances) or the [InterfacesV2](https

[2022-01-05 08:52] fhofherr commented on #271
Hi,

can you please provide a minimal working example showing what you try to achieve?

[2022-01-05 12:45] fhofherr commented on #270
Hi,

based on the provided information it is hard to analyze the issue. What we would need is a minimal working example showing what you try to achieve and what did not work. Can you please provide such an example?

[2022-01-05 12:59] Shadowghost commented on #270
Did you properly label the master nodes to be not included in the load-balancing (see https://github.com/hetznercloud/hcloud-cloud-controller-manager/issues/182#issuecomment-830577642)?

[2022-01-05 14:44] sitamoni commented on #270
Thanks for trying to help. I could sole the issue by adding the following line into my values.yaml file for the helm chart at the annotations field:
`load-balancer.hetzner.cloud/hostname: test1.as-servertest.net`
Afterwards i get now the External IP the domain which has LB IP set:
[code]
Now all services created are healthy on the hetzner cloud console. But by refreshing the domain used and websit

[2022-01-06 16:29] DrZoidberg09 commented on #271
What I want to do is running normal web services and a TURN server in the kubernetes cluster. Idea was: https traffic with tls termination in the load balancer and tcp traffic directly to the TURN server.

What I tried at first was creating two different services (in different name spaces) one with https, the other with tcp annotations. Then the second service was the only one working. Meanwhile I

[2022-01-10 11:25] fhofherr commented on #253
Closing as this seems not to be related to the cloud controller manager.

[2022-01-10 11:25] #253 closed

[2022-01-10 11:41] #252 closed

[2022-01-10 13:12] fhofherr commented on #256
Hi, we are aware that there is room for improvement with respect to our docs. While there are a lot of customers that successfully use our kubernetes integrations documentation is something that could always be improved.

As for the wiki I'd like to make you aware of https://community.hetzner.com where we and our customers provide all kinds of tutorials for our products. Your contributions are wel

[2022-01-10 13:12] #256 closed

[2022-01-10 13:29] fhofherr commented on #254
Hi @lachnerd,

the deployment manifests in the `deploy` folder are left for backwards compatibility reasons and will not be updated anymore. New installs should use the manifests provided via github releases:

* https://github.com/hetznercloud/hcloud-cloud-controller-manager/releases/download/v1.12.1/ccm-networks.yaml
* https://github.com/hetznercloud/hcloud-cloud-controller-manager/releases/downl

[2022-01-10 13:29] #254 closed

[2022-01-10 19:05] stevek-pro commented on #253
@Giom-fm Thanks for posting those files, I will try them out and report back if this is reproducably working.

May I ask what annotations you use, I am sure you don't use all.

Also, may I also ask if you're now sucessfully run certs on your individual ingress resources?

@fhofherr I'd say it is still controller manager related.

[2022-01-17 19:24] fpwfhsi opened #272 "hcloud-cloud-controller-manager ignores node.kubernetes.io/exclude-from-external-load-balancers label for nodes"
Hi,

I would like to exclude specific nodes from being included in LoadBalancer(LB) when creating a LB service for kubernetes.
If I label one node with node.kubernetes.io/exclude-from-external-load-balancers=true (as described [here](https://kubernetes.io/docs/reference/command-line-tools-reference/feature-gates/#:~:text=ServiceNodeExclusion%3A%20Enable%20the%20exclusion%20of%20nodes%20from%20load

[2022-01-19 10:19] elcomtik commented on #175
@LKaemmerling Currently, I see that, I can set this in the console. Is it still unsupported by CCM?

[2022-01-19 15:55] AzSiAz commented on #270
In case you still need it, here is my ingress-nginx value.yaml
[code]
Setting `externalTrafficPolicy` to `Local` make health status mixed with only deployed node reachable
`Cluster` make LB healthy for all targets

What allowed my service to not make ssl or not found error is proxy pass stuff, external-dns+cert-manager and not hostname annotation

The only thing not working is postgres with tcp pa

[2022-01-19 18:07] elcomtik commented on #197
@Illianthe This surprised me also.  I was debugging why my 3node v1.23 k3s HA cluster with hcloud ccm is excluding master nodes from load balancer targets. You saved my day, thanks.

[2022-01-20 13:40] sitamoni opened #273 "Using ingress-nginx LB and helm chart on one directory"
Hallo,
I used the inventory `home/$USER/kubespray/inventory/pro/hosts.yaml` lokal on PC to create my cluster of hetzner cloud servers in a project  Prod with playbook and then another project from hetzner cloud with another hcloud_Token in `home/$USER/kubespray/inventory/sta/hosts.yaml`
Now after installing kubernetes cluster and depolying both clusters. The command of kubectl works only fine with

[2022-01-21 10:27] sitamoni commented on #270
Thanks, but what is about annotations,  `load-balancer.hetzner.cloud/location` with the Variable if i want to install helm ingress-controller in hel1 and not fsn1, it is possible to insert. i dont like to set this value static on hel1.

[2022-01-21 12:54] #258 closed

[2022-01-24 20:51] malikkirchner commented on #113
@acjohnson thank you for improving on Boris' change.

[2022-01-27 12:56] #247 closed

[2022-01-28 05:35] #272 closed

[2022-02-03 17:04] dclayton77 opened #275 "Cloud controller + Core DNS issues"
Hi, I have built a new cluster on Hetzner and followed this guide to install the cloud controller manager.  However, I have run into the following problems:

1. The controller manager originally started but has subsequently crashed and is reporting the following error:

```Nameserver limits were exceeded, some nameservers have been omitted, the applied nameserver line is: 2a01:4ff:ff00::add:2 2a01

[2022-02-03 18:36] ludgart opened #276 "Load balancer node unhealthy"
Hello,

I'm trying to set up a k3s. In my following test environment, have the following servers:

- master1
- worker1

Both servers run with Debian 11 and with the k3s version v1.21.5+k3s1.
For my network infrastructure, I'm using cilium. <br>
The problem is, on my load balancer the master node show healthy, but the **worker node unhealthy.**

Hetzner network: `10.0.0.0/16`
Cluster CIDR: `10.244.

[2022-02-11 13:00] MatthiasLohr commented on #265
@LKaemmerling, any opinion on that?

[2022-02-12 18:41] stevek-pro commented on #263
@druppy I can't confirm all of these points, but at least some of them. It would be really neat to have a working LB solution, or Hetzner's LB get more cheap I don't mind. I think the best bet is a software Loadbalancer, which somehow feels wrong to me, you want to have an LB outside of your cluster imo, but maybe I'm too old-fashioned.

[2022-02-15 11:28] dclayton77 commented on #275
So after much reading with some trial and error, I have managed to get a cluster fully setup and working.  I have a fully functional load balancer and have LinkerD service mesh and Cert-Manager HTTPS certificates generating.  To help others (and I hope this ok to post), I have written a three part blog post demonstrating how to get everything working together.

https://dcse-ltd.co.uk/building-a-ba

[2022-02-15 11:28] #275 closed

[2022-02-15 13:45] dclayton77 commented on #276
I had a very similar issue using Kong Ingress.  I had to install Kong as a daemonset so that the load balancer could check the health of each node.  Its not the same setup as you but I have written a blog post series about getting a full cluster setup and running.

https://dcse-ltd.co.uk/building-a-bare-metal-kubernetes-cluster-part-3-service-mesh-https-certificates-and-ingress/

[2022-02-15 13:47] dclayton77 commented on #273
While not exactly the same as your problem, I wrote a blog on how to get a cluster, load balancer etc fully up an running.  You may be able to take some pointers from there to help with your problem.

https://dcse-ltd.co.uk/building-a-bare-metal-kubernetes-cluster-part-3-service-mesh-https-certificates-and-ingress/

[2022-02-15 13:48] dclayton77 commented on #270
This might help, I went through a lot of pain to get a cluster fully setup and working.  I wrote a blog about my experience which may help you get yours running.

https://dcse-ltd.co.uk/building-a-bare-metal-kubernetes-cluster-part-3-service-mesh-https-certificates-and-ingress/

[2022-02-17 12:53] #265 closed

[2022-02-17 13:04] MatthiasLohr commented on #265
Can we please reopen this issue as it never has been discussed but also never was stale?

[2022-02-21 12:54] #263 closed

[2022-02-23 10:16] mohamedaminearous commented on #269
Is there any fix for this bug ?

[2022-02-23 20:55] martinbe1io opened #277 "Loadbalancer only one destination per LB?"
Hi,

up to now I was really happy with Hetzner but the load balancer or the cloud controller manager implementation is not straight forward.

I have multiple services exported with node ports configured like the two below, both services use the same load balancer (named via annotation), each service should export exactly one port to the public ip of the load balancer. the public ip is even visible

[2022-02-27 12:52] #267 closed

[2022-02-28 12:55] #269 closed

[2022-03-03 00:59] stevek-pro commented on #263
@dclayton77 I tried out your tutorial and I wonder how this resolves the issue of having multiple Loadbalancers instead of just one, since you need to provide a single domain name as groupName in the Cluster Issuer?

[2022-03-03 01:04] stevek-pro commented on #277
This is a known problem in the community and I have yet to come across a working solution. Right now I am paying hundrets of euros for multiple Load Balancers each month until Hetzner or the community comes through with a clear, concise and working tutorial on how to employ just one (1) Load Balancer for many services. Right now the load balancer is not SOA but Monolith-Oriented Arch.

[2022-03-03 01:20] stevek-pro commented on #257
There has been a development in the meanwhile, I discovered https://github.com/vadimkim/cert-manager-webhook-hetzner and am currently working on getting it to run without any luck so far. There is the mention of running a mandatory DNS01 test suite first, which I am now looking into. To make things worse that repo is creating the certificate manually which I did not do since I discovered Let's Enc

[2022-03-07 02:46] #257 closed

[2022-03-11 12:56] #264 closed

[2022-03-14 12:58] #271 closed

[2022-03-22 20:21] Ks89 commented on #76
I'm having the same problem. How can I assign a static IP to my load balancer?
Which is the right answer to this question?

Every time I re-deploy my service of type LoadBalancer I get a new LoadBalancer on Hetzner gui with a different IP. However I need this public IP to be accessible from outside with a fixed ipv4, otherwise a cannot assign it as DNS to my domain.

[2022-04-03 13:37] emrahcetiner commented on #276
@ludgart you can try `externalTrafficPolicy` with `Local` value

[code]

[2022-04-09 05:40] Contentways opened #280 "Make CCM Compatible with Cilium 1.11"
Update the Readme with actual Cilium 1.11 and make the ccm compatible with it.

[2022-04-11 11:03] Contentways opened #281 "CCM isn't working properly"
I have setup a 6 Node Cluster at Hetzner Cloud, I have Install the CCM as shown in the Readme with Network support, my CNI ist Flannel, but the CCM isn't remove the taint cloud.provider=initialized from the Servers so the result is that coredns pods and the Hetzner csi driver aren't running. Are there any Solutions?

Hetzner CSI Driver
`Warning  FailedScheduling  2m18s (x1 over 3m46s)  default-sch

[2022-04-11 15:33] tboerger opened #282 "Load balancer with control plane nodes only?"
I got a small cluster where control plane nodes also act as worker nodes, the load balancer gets created, but it doesn't have any target? Can somebody give me a hint how the load balancer takes the control plane nodes as a target?

[2022-04-22 13:12] #270 closed

[2022-04-22 13:12] #273 closed

[2022-04-27 19:50] gris-gris commented on #282
up

[2022-05-13 00:12] morremeyer commented on #280
@Contentways I’m planning to use Cilium for one of my clusters. Can you go please document the issues that need to be fixed in here?

[2022-05-18 10:06] nazarkulyk commented on #280
Cilium 11.x just work well with current CCM

[2022-05-21 18:34] 53rg3 commented on #147
Same. And setting `HCLOUD_NETWORK` solved it for me as well. The problem in my case is that I'm starting `kubelet` with `--node-ip` to use the private network which the hcloud cloud management controller manager or however that thing is called does not like.

The value is the name of your private network in Hetzner and is stored in the secret `hcloud` at the key `network` (see [here](https://githu

[2022-05-24 13:26] dcardellino opened #286 "LoadBalancer Source Ranges"
Hello together,

Does Hetzner LoadBalancer provide or plans to provide to support an annotation like on AWS, to restrict the ip addresses that can access the loadbalancer service?
The AWS ELB annotations is this one: `service.beta.kubernetes.io/load-balancer-source-ranges` where you can specify CIDRs that are allowed to access the NLB.

Thanks in advance,

Dom

[2022-05-24 14:24] hakman commented on #286
At the moment Hetzner firewall cannot be applied to load balancers, so this is not technically possible:
https://docs.hetzner.com/cloud/firewalls/faq/#can-firewalls-be-applied-to-my-hetzner-cloud-load-balancers

Even if not quite the same, you could use an ingress behind the load balancer to do something similar:
https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/configmap/#

[2022-05-25 10:09] mysticaltech commented on #101
@LKaemmerling Instead of looking for the word "master" can you instead look for "NoSchedule"? That would solve the same issue we have over at kube-hetzner/terraform-hcloud-kube-hetzner!

Please see the mention above. Because there is not much more we can do than ask you to change that behavior! It would really be great! 🙏

[2022-05-25 10:19] mysticaltech commented on #101
Ah, @LKaemmerling, I just saw your comment above about `kubectl label nodes --all node-role.kubernetes.io/master-`. We will try that and report back!

[2022-06-01 14:22] tboerger commented on #282
For those who came here for a solution, just set this feature gate within your hcloud ccm deployment and it will work: `--feature-gates=LegacyNodeRoleBehavior=false`

[2022-06-02 19:19] fmt-Println-MKO opened #287 "lb didn't create if certificate is already there"
I used the following config in my Kubernetes deployment

[code]

during an initial `apply` if this deployment everything works fine.
the certificate is created and assigned to LB.

if I delete these deployments.
everything besides the certificate will be deleted.

If I know want to apply the deployment again, the LB is not set up correctly. there is no target and no service.

so I deleted the cert

[2022-06-08 13:08] #276 closed

[2022-06-08 13:35] ludgart commented on #276
The problem still exists.

[2022-06-08 23:26] goarano opened #288 "LoadBalancerClass"
Hey guys

First of all, thanks a lot for your hard work, the CCM is really useful :)
I was wondering whether you heard about the new LoadBalancerClass feature (stable since 1.24)?
Supporting this field would enable users to run multiple LB providers at the same time, e.g. hcloud and metallb.

https://kubernetes.io/docs/concepts/services-networking/service/#load-balancer-class

[2022-06-10 07:58] rmja opened #289 "Disabling Hetzner load balancer"
Hi,

I have been using metallb for load balancing for years on Hetzner Cloud, but after I have upgraded the controller manager which now has Hetzner Load Balancer support, it seems as if I cannot create any new LoadBalancer services using metallb.
I now get the following error when creating a LB service:
[code]

I cannot use Hetzner LB yet as it still lacks udp support which I need.

How do I prev

[2022-06-10 08:01] hakman commented on #289
@rmja This may be similar or a duplicate of https://github.com/hetznercloud/hcloud-cloud-controller-manager/issues/288.

[2022-06-15 13:10] #281 closed

[2022-06-20 06:27] boehlke commented on #277
Hi,
we have the same problem and what I read from the source code, there is always one load balancer for each service... so no configuration will fix this issue.
Dear team, would a pull request regarding the issue be considered?
Idea would be to combine services if the name overlaps and fail if other annotations so not match.

[2022-06-27 13:16] sebastiangaiser commented on #286
@hakman do you have an example how your Helm values would look like for the nginx-ingress controller?
Especially for the required annotations for the load balancer.

[2022-06-27 14:30] sebastiangaiser opened #291 "Whitelisted ingress/load balancer not working"
As a workaround for #286 I tried to configure nginx for some whitelisted cidr's.
At setting up the load balancer for this I added the following Helm values for [nginx-ingress-controller chart](https://github.com/kubernetes/ingress-nginx/tree/main/charts/ingress-nginx).
Previously we provisioned/uploaded a certificate via Terraform in HCloud as referenced:

[code]

When using the annotation `load-b

[2022-07-02 13:52] hnaderi opened #292 "Supporting primary IPs"
I was wondering if supporting new [primary IPs](https://docs.hetzner.com/cloud/servers/primary-ips/overview) would be in the scope of this project?
I was thinking of some kind of annotation like the one used for load balancer, that when used on Node or machine objects, creates a new server with the specified primary IP.
I don't have any idea of its complexity or whether or not this would be the be

[2022-07-03 05:33] LKaemmerling commented on #292
Hey @hnaderi,

the cloud controller manager is not in charge of creating servers, this would be part of the https://github.com/kubernetes/autoscaler/tree/master/cluster-autoscaler. However, we will update the Cloud Controller Manager to do not break when using Flexible Networks.

[2022-07-03 05:33] #292 closed

[2022-07-03 22:47] martyrs opened #297 "clarification for ccm with networking support"
Hello,
After reading a lot of documents about setting up a k8s cluster in hcloud, there is no clear explanation regarding CCM with or without networking support.
I am aware that documentation is getting better over time but I am looking for clarification.
My goal is to use Rancher and have already done a lot of experiments and I can say that it works fine.
However...

- Which CNI should be preferr

[2022-07-08 17:10] martyrs commented on #47
I am having same issue.

[code]

[2022-07-11 18:30] cschmatzler opened #298 "missing prefix on k8s 1.24"
Hi!
First of all:
[code]

As described in #80, the `missing prefix hcloud://` is caused by the missing `--cloud-provider=external` flag. As the README also states, though, this flag has been removed in k8s 1.24. Unfortunately, I am getting this same error on the newer version of Kubernetes. Since the flag has been removed, I am unsure on how to proceed here getting the CCM set up.

[code]

[2022-07-11 19:20] hakman commented on #298
The `--cloud-provider=external` flag has not been removed for kubelet, it is only deprecated (see https://github.com/kubernetes/kubernetes/pull/110066 for some background).

[2022-07-18 15:33] nazarkulyk opened #299 "ipv6 only cloud host support"
Actually its not really problem with controller-manager

There is no AAAA DNS address for 'api.hetzner.cloud', so [hcloud-cloud-controller-manager](https://github.com/hetznercloud/hcloud-cloud-controller-manager) just will not work on ipv6 only nodes :(

Can we push hetzner somehow to fix this ?

[2022-07-21 14:43] lachnerd opened #300 "unable to get working loadbalancer from rke2 cluster"
Hi there,

as i switched from rke1 to rke2 i got problems deploying my traefik helm chart that generates a loadbalancer in hetzner cloud.

The LB gets created but no target nodes are attached so the service stays in status pending.
Log Message:
[code]

If i look at the node config i see on rke1:

[code]

and on rke2
[code]

It seems like on rke2 the prefix changed.
Any suggestions how to deal with

[2022-07-22 10:31] fmendez89 commented on #300
Try adding this configuration to the kubelet options

From the rke2 docs
`   --kubelet-arg value                           (agent/flags) Customized flag for kubelet process`

The required params by hetzner cloud controller
[code]

Let me know if this works

[2022-07-22 13:09] #280 closed

[2022-07-24 03:42] arashmhashemi commented on #291
try disabling http on nginx: `controller.service.enableHttp: false`
also, for IP whitelisting, you need to enable proxy-protocol on both LB and nginx.

[2022-07-25 13:33] fmendez89 commented on #300
I did a quick test and the providerID does not change to hcloud as you say.

E0725 13:29:07.146775       1 node_lifecycle_controller.go:172] error checking if node rocky-8gb-fsn1-1 exists: hcloud/instances.InstanceExistsByProviderID: hcloud/providerIDToServerID: missing prefix hcloud://: rke2://rocky-8gb-fsn1-1

[2022-07-26 06:14] lachnerd commented on #300
Hi,

i`m trying to accomplish this using terraform and "rancher2_cluster_v2" ressource -  do you have any ideas or documentation (aside from hashicorp) where to set this kubelet args with this ressource.

I tried :

`machine_selector_config{
  cloud-provider-name     = "external"
}`

But it didn't work - cluster does not start

[2022-07-28 14:10] nicholaspearson commented on #298
I have the same issue, I can confirm that --cloud-provider=external flag has not been added at kubeadm init stage.

Any ideas anyone?

Cluster version is 1.24.1 I think.

[2022-07-29 16:12] nicholaspearson commented on #298
OK, I think the reason for this is because the `--cloud-provider=external` flag is being set by the systemd drop-in as per the instructions, however is being unset by the following file: `/etc/sysconfig/kubelet`.

I've done the following:
[code]

[2022-07-31 21:14] niklaspm commented on #214
running into the same issue. furthermore my logs are telling me that `public ipv4 is required (missing_ipv4)` are private ip only infrastructures are not supported by hcloud ccm?

[2022-08-01 07:58] niklaspm opened #301 "could not create route invalid gateway (invalid_input)"
Hello,

`hcloud-cloud-controller-manager` fails to create route with the error mentioned above. My CNI is cilium and the configuration matches the one which is used by hcloud-ccm e2etests (https://raw.githubusercontent.com/hetznercloud/hcloud-cloud-controller-manager/main/e2etests/templates/cilium.yml). Furthermore I could the the following error appearing `public ipv4 is required (missing_ipv4)`

[2022-08-01 12:05] lachnerd commented on #300
ok,

now if i set:

`machine_selector_config {
      config = {
        profile                 = local.cisprofile
        protect-kernel-defaults = true
        system-default-registry = var.private_registry != null ? var.private_registry : null
        cloud-provider-name = "external"
      }
    }`

setting this @machine_selector_config results in only controlplane coming up - but no worker is

[2022-08-01 22:34] nicholaspearson commented on #298
@cschmatzler https://github.com/nicholaspearson/hcloud-kubernetes-terraform

Your welcome :)

[2022-08-01 22:37] nicholaspearson opened #302 "Helpful Terraform Code Magic"
Please see the following repo @LKaemmerling, this will stand up this repo and make it easier for others.

Maybe you could reference this repo in the readme to help others as a quick start method? :)

https://github.com/nicholaspearson/hcloud-kubernetes-terraform

[2022-08-03 13:32] rastislavs opened #305 "Allow specifying IP family priority for dual-stack node ExternalIPs"
The order of node's `ExternalIP` list published in the node's status is important, as the first one is picked when the apiserver is contacting the kubelet on the node. The current order favours IPv6 address over IPv4, e.g.:

[code]

This can be problematic in dual-stack scenarios where IPv4 is the primary address family of the cluster - i.e. the apiserver is running on IPv4 only.

In that case, an

[2022-08-08 13:19] #287 closed

[2022-08-14 13:01] #288 closed

[2022-08-15 08:43] sitamoni opened #307 "Kubespray using hcloud as an external provider"
i'm using Hetzner cloud console VMs to provision my k8s cluster via anible-playbook cli. i set in my inventory file the attributes of  **group_vars/all/all.yml** to `cloud_provider: external`, `external_cloud_provider: hcloud`. As well as i used ccm-network and calico to configure my LB with Helm. The playbook is as following:
`ansible-playbook  -i inventory/Portal/hosts.yaml --become-user=root cl

[2022-08-15 13:13] #289 closed

[2022-08-24 13:11] madalinignisca commented on #297
I am following the md doc for network deployment and seems that cilium today evolved and creates on nodes and a new eth device created on one node will overlap the nodes private subnet, making the node unusable. I tried setting different values but can't figure out.

I think an Hetzner engineer should keep the doc updated with cilium changes as well, as the doc favorited it.

[2022-08-25 15:24] martyrs commented on #297
I wasn't eager to test each case but CCM works fine with Calico on my end.
To verify CCM is operational, simply issue `kubectl get nodes -o wide` and look for external/internal IP.
Hope that helps.

[2022-08-26 05:43] madalinignisca commented on #297
@martyrs, would you be kind to provide a hint on how did you setup calico? What values did you change for it's deployment?

[2022-08-26 08:37] martyrs commented on #297
@madalinignisca sure, I use Rancher for cluster deployments.
When creating your cluster,
- set `cloud_provider` to `external`
- pick Calico as network provider.
- after your cluster is ready create hcloud secret with network and token
- install CCM, and watch logs of CCM deployment to confirm you got no errors whatsoever.
This is all tested against `v1.23.7-rancher1-1`k8s version.

[2022-08-26 08:51] madalinignisca commented on #297
@martyrs that is what I'm still confused on.
You are installing Calico with defaults that Rancher provides. Calico, Cilium, Flannel have different network backends, and each automation solution like Rancher has a default with settings that work on "bare-metal" setups. Check between PODS network traffic and you will see.

This does not means that the above setup will use Hetzner's network feature f

[2022-08-26 09:01] martyrs commented on #297
@madalinignisca how exactly do you confirm your network topology?
did you check the "routes" of your private network in hcloud console?
after a working CCM installation, routes will be created there.

[2022-08-26 09:06] madalinignisca commented on #297
@martyrs, so on your setup, you found the routes there? (I also did on 1.22.x and Cilium 1.10.x).
Next, I'm checking by creating 2 pods (one with nginx and one with busybox) and test from busybox using traceroute. With the old version, I see them talking through the private lan. Later, don't work.
My issue might be only that using latest Kubernetes and Cilium, is not working anymore.

PS: I deploy

[2022-08-26 09:12] martyrs commented on #297
@madalinignisca yes, routes there, CCM handles that routing part.
Logs from a working CCM in action should be looking like this:
[code]

Never tested kubeadm way on Hetzner but I'll test it later on.
Do you mind sharing your exact steps? that would be useful to reproduce.

[2022-08-26 09:29] madalinignisca commented on #297
@martyrs my steps are the ones from https://v1-22.docs.kubernetes.io/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm/ and https://github.com/hetznercloud/hcloud-cloud-controller-manager/blob/main/docs/deploy_with_networks.md
I start with containerd setup, following the kubeadm, kubelet and kubectl setup (I do manual deployment, no deb packages), init the cluster, add working

[2022-08-26 10:11] martyrs commented on #297
@madalinignisca I guess you are talking about that such pod-to-pod route takes place like this:
[code]
It goes to public net first then returns to the node.
Is this correct?

[2022-08-26 10:22] madalinignisca commented on #297
yes. so, you have an overlay network, mapped throughout the public interfaces.
to benefit of best performance and isolation, all must go throughout the private interfaces.

[2022-08-26 10:48] martyrs commented on #297
Upon quick testing, I can confirm that **traceroute** (ICMP) not taking place on the public interface.
You can just run `tcpdump -i eth0 -s0 -vvv -n icmp` then run traceroute "between" pods, you will notice it's not going out.
Then, repeat same traceroute for outer world, like 8.8.8.8 and you will notice it's going out this time.

I will update this with more information as soon as possible.

[2022-08-26 12:49] madalinignisca commented on #297
But why first hop is the public ip? I was expecting to see the private ip.

[2022-08-26 13:20] martyrs commented on #297
I did more experiments and I can say that packets are never going to public net from my understanding.
I believe the first hop is just fine and acts as the "router" part there. As CCM already managed and created "routes" in private networking, the packet gets to its destination internally.

Additionally, I can easily say that you will have serious latency issues without CCM, I had this until setti

[2022-08-28 05:22] dcardellino commented on #286
Helped out with a HAProxy deployment where I filter ip addresses.

[2022-08-28 05:22] #286 closed

[2022-08-30 17:34] mmpetarpeshev opened #308 "Hcloud manager errors: Couldn't reconcile node routes error listing routes context deadline exceeded"
We are using hcloud manager in cluster deployed on Hetzner VMs. Hcloud manager is deployed with network support. After few days it started hit the hetzner cloud api limits and log the following errors :

```E0830 16:20:57.819595       1 route_controller.go:118] Couldn't reconcile node routes: error listing routes: hcloud/ListRoutes: hcloud/hcloudRouteToRoute: hcops/AllServersCache.ByPrivateIP: 192

[2022-08-31 13:25] madalinignisca commented on #297
Sorted:

/ # traceroute 10.244.2.102
traceroute to 10.244.2.102 (10.244.2.102), 30 hops max, 46 byte packets
 1  *  *  *
 2  10.0.0.1 (10.0.0.1)  3.567 ms  3.569 ms  2.864 ms
 3  *  *  *
 4  10.244.2.102 (10.244.2.102)  1.116 ms  0.796 ms  0.336 ms

Using latest cilium.

All traffic is now for me by private network isolated.

[2022-08-31 13:29] martyrs commented on #297
@madalinignisca glad it worked for you. mind to share your approach and setup process? thanks.

[2022-08-31 13:43] madalinignisca commented on #297
I'll take all notes, changes and make a blog post soon about it.
I hope now I can get closer to "the minimal k8s cluster on hetzner cloud".

Basically:
1. setup a network 10.0.0.0/8 with defaults (like hetzner panel does).
2. setup a few servers (I start with 1 control-plane and 2 nodes), attaching them to the network (I did setup a snapshot image with common OS setup before, so next steps I usual

[2022-09-04 11:52] ym commented on #308
We have had the same issues recently and constantly hit the Hetzner cloud's rate limit probably due to retries.

Also, the document says the rate limit is per project, not per API key and the support team refused to increase rate limit :-(

[2022-09-04 14:27] talex-de commented on #308
I’ve often run into the same issues – Hetzner API rate limits are too strict and to low. I see very often rate limit errors, too.

Sad that Hetzner is not willing to increase the rate limits as it cannot be used for serious setups, if it hits these API rate limits ...

[2022-09-06 14:03] mmpetarpeshev commented on #308
@LKaemmerling Thanks linked the fix to the Issue .Do you know , when it will be released ?

[2022-09-06 14:12] 4ND3R50N commented on #308
We'll release it this week, maybe tomorrow! I'll keep you up to date 👌🏼

[2022-09-07 14:36] MohammedNoureldin commented on #6
How would you use the floating IP? Only use it in Metallb pool? or should I assign it also to the node(s)?

[2022-09-12 09:35] DrBu7cher opened #310 "Setting IPv4 RDNS has no impact"
If you specify IPv4 RDNS it does neither change the existing one on the loadbalancer nor create a new one correctly.

[2022-09-18 07:11] mmpetarpeshev commented on #308
After the release , hcloud manager still gits the api limit :

`E0918 04:11:36.921648       1 route_controller.go:119] Couldn't reconcile node routes: error listing routes: hcloud/ListRoutes: hcloud/hcloudRouteToRoute: hcops/AllServersCache.ByPrivateIP:  hcops/AllServersCache.getCache: Get "https://api.hetzner.cloud/v1/servers?page=1&per_page=50": context deadline exceeded`

[2022-09-19 00:24] lsascha opened #316 "x509: certificate is valid for 127.0.0.1, <ext. IPv4>, not 10.0.1.4 after upgrade from k3s v1.22.9 to v1.22.13 or v1.22.12"
Hello.
I am currently trying to get kubernetes updated to v1.22.13 from v1.22.9.

Unfortunately i am currently hitting an error and i am not 100% sure what the cause of it is. So could also be unrelated to the cloud-controller.

After Updating trying to get the log from a POD, i get this error returned:
[code]

as soon as i downgrade to v1.22.9 again, i can get the logs again.

running `openssl x5

[2022-09-19 15:36] mysticaltech commented on #282
@tboerger This seems to have been removed in the latest CCM, as I get this error now:

[code]

What is the new way of achieving the above?

[2022-09-19 16:31] mysticaltech commented on #282
I would propose re-opening this issue, as it no longer works and is causing an issue with our project https://github.com/kube-hetzner/terraform-hcloud-kube-hetzner/issues/311; any help in solving this would be appreciated!

[2022-09-20 11:19] cschlesselmann commented on #316
I am facing the same issue with a new k3s cluster using version `v1.24.4+k3s1` and hcloud-ccm `v1.13.0`

[2022-09-21 18:06] cschlesselmann commented on #316
What i did for now is retrieving the private ip via the server metadata api before k3s installation with
[code]
and then suppling `--node-ip $NODE_IP`

[2022-09-21 18:30] lsascha commented on #316
thanks. did you set any other arguments? Because i set it for my control nodes, but they don't start anymore with that argument set. They seem to keep trying to elect a new leader without success.

I only added
`'--node-ip=10.0.1.2' \` etc. to the `/etc/systemd/system/k3s.service` file.
I can also see the IP being added to the cert, but its now missing the external IP.

So i also tried to set
`'--

[2022-09-21 18:41] cschlesselmann commented on #316
I install my k3s server with [k3sup](https://github.com/alexellis/k3sup)
My full script for the control plane node (i don't use ha/cluster) looks like this:

[code]

[2022-09-21 20:43] lsascha commented on #316
i don't see much difference. don't know what you mean with `i don't use ha/cluster`. do you mean you are running only a single server cluster?

I also found `--tls-san` which according to its description, adds the IP to the cert. But it does not add anything adn i still get the error when trying to access pod logs.

i read that --tls-san apparently only adds it on request, so if something tries to

[2022-09-22 13:22] #299 closed

[2022-09-22 14:21] mysticaltech commented on #282
@tboerger, I feel that the [feature-gates](https://kubernetes.io/docs/reference/command-line-tools-reference/feature-gates/) page holds the key to getting this to work with the new CCM; especially interesting seem the `ServiceNodeExclusion` feature gate.

It says:

`ServiceNodeExclusion: Enable the exclusion of nodes from load balancers created by a cloud provider. A node is eligible for exclusion

[2022-09-23 00:38] lsascha commented on #316
I now removed `--disable-cloud-controller` on the control plane nodes.
even though the readme of this repo says to do so.

Now i can access the logs again on the Pods. But i am not sure about other issues that might follow with basically 2 cloud controllers now running?

[2022-09-23 11:53] tomsiewert commented on #310
Most likely fixed with #315

[2022-09-23 20:25] mmpetarpeshev commented on #308
Please reopen , we cant use our terraform , because the hcloud manager always hits the API limit.

[2022-09-26 06:57] 4ND3R50N commented on #308
Sorry for the late reply. We will ofc take care of this! Two questions here:
1. Do you use the newest version? (v1.13.0)
2. If yes, is the error still the same?

I just want to make sure that its only the API limits hitting you. The `context deadline exceeded` was kinda blurry error message.

[2022-09-26 08:52] mmpetarpeshev commented on #308
Hi @4ND3R50N , thanks for taking care of that.

1.We are using docker image tag as I pull the image few days ago.Will check later today the version from the logs.
2.Error message was little bit different I think , something like :

route_controller.go:119] Couldn't reconcile node routes: error listing routes: hcloud/ListRoutes: hcloud/reloadNetwork: limit of 3600 requests per hour reached (rate_li

[2022-09-26 08:57] 4ND3R50N commented on #308
@mmpetarpeshev

Ok, good news, so its the API limit. Dont worry, this is an internal mechanism to prevent spam. I will talk to some collegues how we gonna proceed with those cases since youre not the only one having trouble with it.

Waiting for your final update, i will also keep u up to date :-)

[2022-09-26 18:49] mmpetarpeshev commented on #308
I check the logs and they saying  : ` Hetzner Cloud k8s cloud controller v1.9.1 started`
I tried with latest docker image tag and with v1.13.0. Tried with helm deployment and ansible (aka daemon set or deployment).
Not sure is that the correct version as you said v1.13.0 , from I saw the docker images latest is updated few days ago.

[2022-09-27 13:29] #291 closed

[2022-09-27 16:02] DrBu7cher commented on #310
I don't know if this is related to the linked PR, but I now cannot get my Loadbalancer to work.
I see the following:
[code]
Why is the external IP pending? The Loadbalancer is being created but no targets are being assigned. The age is 5m22s, because it is my clean-install test. I created a whole new cluster with flux and helm, so my configuration did not change. But the behaviour of the HCloud LB

[2022-09-27 16:04] tomsiewert commented on #310
Could you please post the configuration of your HelmRelease or of your LoadBalancer service? Are there any obvious errors in the CCM logs?

[2022-09-28 07:42] DrBu7cher commented on #310
My nginx-ingress-controller release.yaml:
[code]

[2022-09-28 07:47] DrBu7cher commented on #310
Fixed by removing the ipv4-rdns annotation, since the fix is not yet released.

[2022-09-28 07:47] #310 closed

[2022-09-28 07:56] Preisschild commented on #218
Unfortunately not possible since you can't use restrict traffic based on source host ips with Hetzner Cloud Firewalls

[2022-09-30 08:03] ym commented on #308
Hi, is there any ETA of this issue? We're still constantly hitting this issue after upgrading to v1.13.1.

[code]

Tried to ask support to increase the API limit temporarily but they said no.

[2022-09-30 08:26] LKaemmerling commented on #308
@ym can you please the ticket ID to us or reply to this ticket with the explicit mention of my name?

[2022-09-30 08:27] ym commented on #308
Thanks, the ticket ID is #2022083103009613

[2022-09-30 08:37] LKaemmerling commented on #308
@ym you will get an answer :)

We want to debug this even further. With one of the last releases, we got a contribution that added metrics to all API calls (https://github.com/hetznercloud/hcloud-cloud-controller-manager/pull/303). You should be able to see how often specific endpoints were called by looking at the metrics of the CCM. Can you send us maybe a screenshot from your grafana dashboard

[2022-09-30 08:44] Kjarrigan commented on #308
@ym And we apologize for the trouble, because

we **do** increase API Limits for various use-cases. In this case the request was unfortunately not forwarded to the responsible department. We already contacted the support to refresh the knowledge of the proper workflow for these requests.

[2022-10-01 21:50] TitusKirch commented on #299
The problem persists. Are there any further updates here?

[2022-10-02 22:23] Lykos153 commented on #288
I need this, too. Please re-open

[2022-10-03 17:50] bajoben commented on #115
@AlexMe99 yours did it for me. Thanks.
Network: 10.0.0.0/8; Subnet-Master: 10.2.0.0/24; Subnet-Worker: 10.3.0.0/24; Pod-Net: 10.4.0.0/16; Srv-Net: 10.5.0.0/16.
Installed Cilium via Helm.

[2022-10-05 10:12] maaft commented on #172
Hey, anything I can do to provision Loadbalancers to my root servers automatically via ccm **right now**?

[2022-10-05 10:14] maaft commented on #113
Uhm, why is this closed? Currently it does not work. What can I do please? Any step by step instructions how I can provision a LB connected to my 3 root servers?

[2022-10-05 10:16] batistein commented on #113
use this one: https://github.com/syself/hetzner-cloud-controller-manager

[2022-10-05 10:17] maaft commented on #113
Ah, yes. I've read about that CAPI a few days ago already. Thanks mate!

[2022-10-05 10:24] maaft commented on #113
I'm getting `Cloud provider could not be initialized: unknown cloud provider "hetzner"` from the logs.

Any Idea how to fix this?

[2022-10-05 10:31] batistein commented on #113
sounds like you have the wrong provider argument in the deployment... Did you only replaced to image? see: https://github.com/syself/hetzner-cloud-controller-manager/blob/master/deploy/ccm.yaml#L63

[2022-10-05 10:36] maaft commented on #113
Well, after removing the "old" ccm, I installed the suggested one with:

`kubectl apply -f https://github.com/syself/hetzner-cloud-controller-manager/releases/latest/download/ccm.yaml`

Which contains:
[code]
Any slack/discord channels available? Don't want to spam this issue here further.

[2022-10-05 10:38] batistein commented on #113
kubernetes slack workspace channel #hetzner

[2022-10-05 13:44] #300 closed

[2022-10-05 13:44] #301 closed

[2022-10-06 13:29] #302 closed

[2022-10-06 13:29] #298 closed

[2022-10-09 13:11] #305 closed

[2022-10-10 12:17] nazarkulyk commented on #299
The idea was not to warn that ipv6 only instances cant be used, but to push hetzner make ipv6 DNS pointer to api host :D

[2022-10-10 20:57] simonostendorf commented on #299
The issue is inside our own project (you can see the repo in the mentioned issue). We need the reminder, because our k8s-nodes have to communicate with the hetzner cloud api.
So as you mentioned in this issue, ipv4 is needed because the DNS pointers for ipv6 are not valid. We also want to push hetzner to ipv6-cloud-api :)

[2022-10-11 08:35] #282 closed

[2022-10-13 16:47] lsascha commented on #316
just as an update:
using that argument helped in being able to get it working. But only most of the time.

It results in sometimes still giving the cert error. Probably because of both controllers fighting.

So issue is in my opinion still open

[2022-10-14 11:45] wondertalik opened #319 "Install on HA cluster"
Hello, how many replicas should be for HA cluster. For example i have 3 control plane, with deployment ccm-network.yaml i have only one pod on first master. Can i change replicas to 3 to have pod on each control plane node?
[code]

[2022-10-20 15:30] jr-dimedis opened #320 "Can harmful things happen when I increase "hcloud-cloud-controller-manager" replicas?"
I am quite new to Kubernetes so please be patient with me on this probably dumb question ;)

I have a cluster with three control-plane nodes and used `ccm.networks.yaml` from
https://github.com/hetznercloud/hcloud-cloud-controller-manager/releases/latest/download/ccm-networks.yaml
to install the Hetzner CCM on a k3s cluster.

It has replicas set to 1 and everything works fine so far.

I wonder if

[2022-10-23 10:05] MohammedNoureldin commented on #6
Any news or better approach to automatically reassign floating IPs to the elected node to run MetalLB?

[2022-10-24 14:47] WAlekseev opened #321 "Load Balancer per service options"
Is it possible to toggle proxyprotocol: enable/disable option per service with load balancer?

If I use annotation like

[code]

It forces proxy protocol on all ports described in manifest for Service type LoadBalancer.

Thanks!

[2022-10-25 08:49] captnCC opened #322 "Support for labels on hcloud resources"
It would a great improvement to be able to set a list of labels that get be applied to `hcloud` resources created by the controller, for example on the load balancer. This would make selection of cluster resources by the `hcloud`-cli much easier!

[2022-10-25 12:13] ac-de commented on #316
Same problem with RKE2 cluster as well. Without CCM the cluster works fine. Adding --tls-san also did not helped.

[2022-10-28 09:49] pmdroid opened #323 "[BUG] Healthcheck ports are mixed up after a new target is added to the LB"
When using an LB with HTTP and HTTPS the ports are switched around when a new target is added to the LB. When the LB is initially created the result is expected, both services are registered with the correct ports and health checks. But when a new target is added the second health check will be overwritten with the port of the first health check. The problem happens [here](https://github.com/hetzn

[2022-11-01 12:17] maaft commented on #308
I'm also currently running into rate limit issues.. Are there any plans to maybe increase limits for endpoints used by this CCM?

Especially when doing maintenance on your cluster (adding nodes, testing nodes, removing nodes, ... ) you'll be rate limited very fast. It's quite annoying tbh.

[2022-11-01 12:31] mmpetarpeshev commented on #308
I'm struggling everyday with that ,if I hadn't invested so much time to deploy k8s and all apps in hetzner , the first thing that I would do is to move out . Thats absolute amateur work here.

[2022-11-01 15:49] LKaemmerling commented on #308
@maaft @mmpetarpeshev could you please try to do what I requested here: https://github.com/hetznercloud/hcloud-cloud-controller-manager/issues/308#issuecomment-1263282005

We need to understand what you cluster is doing :)

[2022-11-01 16:56] mmpetarpeshev commented on #308
thanks @LKaemmerling will try these days to get these metrics and provide it to you.

[2022-11-05 13:26] clickersmudge opened #325 "LoadBalancer - Pending, (KubeOne, KKP, User cluster)"
Hi,
I will be very grateful for your help. I don't know which way to go and where to look for a mistake.
We created the cluster with the help of Kubermatic self hosted software.

We installed on Hetzner KubeOne and KKP dashboard.

Step 1
"userclusterproject" was created on "KKP" dashboard.
![Zrzut ekranu z 2022-11-04 16-41-41](https://user-images.githubusercontent.com/113194014/200016884-ba476aaa-

[2022-11-06 13:02] #297 closed

[2022-11-07 22:14] mkanderson opened #326 "Annotation `ipv6-disabled` has no effect."
I'm trying to set up `external-dns`  using an Hetzner LB. As recommended in the [source code](https://github.com/hetznercloud/hcloud-cloud-controller-manager/blob/2538d3ac41d7c62bdb94a103099dda58be3a4f3e/internal/annotation/load_balancer.go#L34), I've set the `ipv6-disabled` option:

[code]
However, this seems to have no effect. The IPv6 Address still appears in the service as an external IP, caus

[2022-11-08 11:28] mkanderson commented on #326
Works after update to 1.13.2

[2022-11-08 11:28] #326 closed

[2022-11-09 16:08] wondertalik commented on #325
Have the same problem. k8s created by kubeadm. Cloud Controller Manager work perfectly. After installing ingress controller load balancer appeared in hetzner console. But  external ip in <pending>

[code]

[code]

[code]

[2022-11-11 16:05] strowi opened #327 "deletion protection for loadbalancer?"
Hi,

is there any way to set the delete-protection  similar to [AWS' annotation](https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.4/guide/service/annotations/) `service.beta.kubernetes.io/aws-load-balancer-attributes: deletion_protection.enabled=true` to prevent accidental deletion.

regards,
strowi

[2022-11-12 09:49] strowi commented on #327
@wondertalik thx yes i know how to set it via console, terraform or web, but i'd like a kubernetes way. Creting a LB via kubernetes and setting that protection via terraform or console feels a bit .. wrong. ;)

[2022-11-13 11:45] wondertalik commented on #325
I found the problem, it was in line `load-balancer.hetzner.cloud/http-redirect-http: "true"`. After removing load balancer have an external ip. So, why it happens? Wrong annotation?

[2022-11-18 10:44] xoxys opened #328 "instructions for self-managed private network not working"
I want to use the hcloud-ccm without network support and want to manage the private network used by nodes (K3s `--node-ip=<private-network-ip>`) on my own. As described in the README and https://github.com/hetznercloud/hcloud-cloud-controller-manager/issues/147#issuecomment-1133748985 I have added the missing `HCLOUD_NETWORK` env variable to the `ccm.yaml` manifest and created the secret with the

[2022-11-18 11:03] xoxys commented on #328
Stumbled over https://github.com/hetznercloud/hcloud-cloud-controller-manager/pull/304 is that the intended way to disable routes in that case?

[2022-11-21 14:46] ibot3 opened #329 "[QUESTION] Where does the route to the private network come from?"
I am currently thinking about switching to the CCM networking instead of an additional overlay network (currently with calico).

The network setup:

- `eth0` with a public IP and a default route pointing to it.
- `enp7s0` as private network with all nodes (addresses from `10.1.0.0/24`)
- `10.3.0.0/16` as range for the `/24` pod networks

I see that the CCM creates the routes for the pod networks w

[2022-11-25 11:03] maaft opened #330 "Bare Metal Support"
There is currently a related stale issue #113 which basically asks for the same.

It would be really nice to have bare metal support integrated in this official CCM.

There is also another [fork](https://github.com/syself/hetzner-cloud-controller-manager) by syself that already supports bare metal servers.

What would be required to support bare metal on this official repo? Couldn't you just integ

[2022-11-25 12:59] clickersmudge commented on #325
@wondertalik  In our case, it was something else.
https://github.com/kubermatic/kubermatic/discussions/11295#discussioncomment-4158052